.article-content-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: #fff;
    border: 1px solid #007bff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;;
    opacity: .9;
}

.article-content {
    margin: 10px 0;
    padding: 20px 5px;
    border: 1px solid #eeeeee;
}

.article-bar-top {
    color: #808080;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.group-chat-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    padding: 5px;
    /*background-color: #808080;*/
}

.group-title {
    position: relative;
    height: 40px;
    padding: 0 20px;
    /*background-color: #808080;*/
    text-align: center;
    color: #007bff;
    font-weight: bold;
    font-size: 1rem;
}

.group-nav-title>.no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chat-body {
    border-bottom: 1px solid #eeeeee;
}

.chat-footer {
    height: 50px;
}

.chat-input {
    float: left;
    padding:20px 0;
    width: 100%;
}
.chat-input input {
    width: 100%;
    height: 40px;
}

.list-unstyled > li {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}

.media-body > p {
    display: flex;
    justify-content: space-between;
}

.media-body > p > span{
    color: #808080;
}